<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
        <title>{% block title %}GrumpyB Enterprises{% endblock %}</title>
        <link rel="icon" type="" href="{{ asset('grumpy-lunte.png') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <header>
                {% block header %}
                    <div class="controls" data-controller="service">
                        <button class="status" data-service-target="status" data-check-url="{{ path('app_dashboard_checkservice') }}" loading>&#128565;</button>
{#                        <button data-action="click->service#execute:prevent" data-service-target="button" data-url="{{ path('app_system_idle') }}">Idle</button>#}
                        <button data-action="click->service#execute:prevent" data-service-target="button" data-url="{{ path('app_system_restart') }}">Restart</button>
                        <div class="nomobile">
                            <button data-action="click->service#edit:prevent"
                                    data-service-target="button"
                                    data-file="inputs.yaml"
                                    data-load-url="{{ path('app_option_loadinputs') }}"
                                    data-save-url="{{ path('app_option_saveinputs') }}"
                            >inputs.yaml (Edit)</button>
                            <button data-action="click->service#edit:prevent"
                                    data-service-target="button"
                                    data-file="rules.yaml"
                                    data-load-url="{{ path('app_option_loadrules') }}"
                                    data-save-url="{{ path('app_option_saverules') }}"
                            >rules.yaml (Edit)</button>
                            <button data-action="click->service#edit:prevent"
                                    data-service-target="button"
                                    data-file="outputs.yaml"
                                    data-load-url="{{ path('app_option_loadoutputs') }}"
                                    data-save-url="{{ path('app_option_saveoutputs') }}"
                            >outputs.yaml (Edit)</button>
                            <button data-action="click->service#closeEditor:prevent">Cancel</button>
                            <div id="editor" style="display: none" data-service-target="editor"></div>
                        </div>
                        <form class="logout" action="{{ path('app_login_logout') }}"><button>&#10143;</button></form>
                    </div>
                {% endblock %}
            </header>
            <main>
                {% block main %}{% endblock %}
            </main>
            <footer>
                {% block footer %}
                {% endblock %}
            </footer>
        {% endblock %}
    </body>
</html>
